# Linear Regression using Scikit-learn

In [35]:
import pandas as pd
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split
diamond_data = pd.read_csv('Diamond.csv')
diamond_data

       carat        cut color clarity  price     x     y     z
0       0.23      Ideal     E     SI2    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1    326  3.89  3.84  2.31
2       0.23       Good     E     VS1    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2    334  4.20  4.23  2.63
4       0.31       Good     J     SI2    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   2757  5.83  5.87  3.64

[53940 rows x 8 columns]

In [36]:
diamond_data.describe()

              carat         price             x             y             z
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940   3932.799722      5.731157      5.734526      3.538734
std        0.474011   3989.439738      1.121761      1.142135      0.705699
min        0.200000    326.000000      0.000000      0.000000      0.000000
25%        0.400000    950.000000      4.710000      4.720000      2.910000
50%        0.700000   2401.000000      5.700000      5.710000      3.530000
75%        1.040000   5324.250000      6.540000      6.540000      4.040000
max        5.010000  18823.000000     10.740000     58.900000     31.800000

In [37]:
diamond_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   price    53940 non-null  int64
 5   x        53940 non-null  float64
 6   y        53940 non-null  float64
 7   z        53940 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 3.3+ MB

In [38]:
print(diamond_data['cut'].unique())
print(diamond_data['color'].unique())
print(diamond_data['clarity'].unique())

['Ideal' 'Premium' 'Good' 'Very Good' 'Fair']
['E' 'I' 'J' 'H' 'F' 'G' 'D']
['SI2' 'SI1' 'VS1' 'VS2' 'VVS2' 'VVS1' 'I1' 'IF']

encoding the columns which has strings

In [39]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)
encoded_columns = encoder.fit_transform(diamond_data[['cut', 'color', 'clarity']])
encoded_df = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(['cut', 'color', 'clarity']))
encoded_df

,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53936,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53937,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53938,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
53939,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

Now adding the encode df to the main df

In [40]:
diamond_data = diamond_data.drop(['cut', 'color', 'clarity'], axis=1)

diamond_data = pd.concat([diamond_data, encoded_df], axis=1)

diamond_data

,carat,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.23,326,3.95,3.98,2.43,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.21,326,3.89,3.84,2.31,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.23,327,4.05,4.07,2.31,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.29,334,4.20,4.23,2.63,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.31,335,4.34,4.35,2.75,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,2757,5.75,5.76,3.50,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53936,0.72,2757,5.69,5.75,3.61,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53937,0.70,2757,5.66,5.68,3.56,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53938,0.86,2757,6.15,6.12,3.74,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
53939,0.75,2757,5.83,5.87,3.64,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

Scaling the price column

In [44]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# Fit and transform the price column
diamond_data['price_scaled'] = scaler.fit_transform(diamond_data[['price']])

print(diamond_data[['price', 'price_scaled']])

       price  price_scaled
0        326     -0.904095
1        326     -0.904095
2        327     -0.903844
3        334     -0.902090
4        335     -0.901839
...      ...           ...
53935   2757     -0.294731
53936   2757     -0.294731
53937   2757     -0.294731
53938   2757     -0.294731
53939   2757     -0.294731

[53940 rows x 2 columns]

Performing linear regression

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

X = diamond_data.drop(columns=['price'])
y = diamond_data['price']

# 2. Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Train the model
model = LinearRegression()
model.fit(X_train, y_train)

# 4. Evaluate the model
y_pred = model.predict(X_test)

# Calculate mean squared error and R^2 score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 2.4887522563514223e-23
R^2 Score: 1.0